<h5>RoE (Rules of Engagement)</h5>
<br/><br/>
<b>Bedeutung der Wörter:</b>
<ul><li>"Miner" - Ein Vermessungsschiff (NUR dieser Schiffstyp, z.B. Fortunate) das auf einem Knoten abbaut.</li>
<li>"Leer" - Ein Schiff bei dem keine Ressourcen erbeutet werden können.</li>
<li>"Overcargo" - Ein Schiff dass nach dem Scannen Ressourcen an Bord hat.</li>
<li>"Nullknoten (0-Knoten)" - Ein Bergbauknoten bei dem keine Ressourcen mehr abgebaut werden können (0 Ressourcen).</li></ul>
<br/><br/>
<h5>RoE Regeln für STFC Server EU-164</h5>

<ol><li>Leere Miner dürfen nicht angegriffen werden !!!</li>
<li>Overcargo Miner dürfen angegriffen werden.</li>
<li>Miner auf Nullknoten dürfen nach einer Warnung angegriffen werden. (PN 5 Minuten vor dem Angriff)</li>
<li>Kriegsschiffe dürfen immer angegriffen werden, egal ob sie leer oder overcargo sind.</li></ol>
<br/><br/>
<h5>Anmerkungen:</h5>
<ul><li>Verbündete Allianzen werden niemals angegriffen.</li>
<li>Krieg storniert die Bedingungen zwischen betroffenen Allianzen / Spielern (kein RoE im Krieg).</li></ul>