<h5>RoE Project:</h5>
<ul><li>Is called "miner" a survey ship who are mining any node</li>
<li>Is called  "empty" any ship with no resources to steal by destroying it</li>
<li>Is called  "overcargo" any ship that after scanning has resource onboard</li>
<li>Is called  "zero node" a mining node with no resources left to gather</li></ul>
<br/>
<br/>
<h5>RoE for EU-164 (incomplete, these are the rules most people agree on):</h5>
<ol><li>Don't attack empty miners</li>
<li>Overcargos can be attacked at all times</li>
<li>You can attack miners sitting on zero node after a warning (5min min.)</li>
<li>Warships can be attacked at all times</li></ol>
<br/><br/>
<h5>Notes:</h5>
<ul><li>Alliances renforce the terms between concerned alliances/players (don't attack your allies)</li>
<li>Wars cancel the terms between concerned alliances/players (no RoE when in war)</li></ul>