<h5>Projet de roe :</h5>
<ul><li>s'appelle "mineur" un navire d'enquête qui mine n'importe quel nœud</li>
<li>s'appelle "vide" tout navire sans ressources pour le voler en le détruisant</li>
<li>s''appelle "overcargo" tout navire qu'après le scannage a des ressources à bord</li>
<li>s'appelle "zéro noeud" un nœud minier sans ressources à rassembler</li></ul>
<br/><br/>

<h5>Roe pour eu-164 (incomplet, ce sont les règles que la plupart des gens sont d'accord) :</h5>

<ol><li>n'attaquez pas les mineurs vides</li>
<li>overcargos peut être attaqué en tout temps</li>
<li>les vaisseaux de guerre peuvent être attaqués en tout temps</li>
<li>vous pouvez attaquer les mineurs assis sur le nœud zéro après un avertissement (5min min.)</li></ol>