<h5>Проект РОЕ (ROE stands for “rules of engagement”) :</h5>

<ul><li>"Шахтер" это геологический корабль специализирующийся на добычу ресурсов. (miners)</li>
<li>"Пустой" корабль это корабль после уничтожения которого не падает награда в виде ресурсов. (UPC - “under protected cargo”)</li>
<li>"Перегруженный" корбаль это корабль после уничтожения которого падает награда в виле ресурсов. (OPC - “over protected cargo”)</li>
<li>"Пустая шахта/узел" это шахта в которой больше нет ресуров. (zero nude)</li></ul>
<br/><br/>
<h5>Правила РОЕ:</h5>
<ol><li>Нельзя атаковать пустого шахтера.</li>
<li>Можно атаковать пустого шахтера, если он находиться на пустом узле после предупреждения через 5 мин.(+скрин)</li>
<li>Можно атаковать перегруженный корабль.</li>
<li>Боевые корабли можно атаковать в любое время</li>
<li>Возмездие - если вы подвергаетесь нападению нарушающие правила РОЕ, вы можете нанести ответный удар один раз в течение тех же 24 часов, на того кто вас атаковали. (+Скрин как доказательство)</li></ol>
<br/><br/>
<h5>Заметки:</h5>
<ul><li>Альянсы обеспечивают соблюдение условий между заинтересованными альянсами / игроками.</li>
<li>Правила РОЕ не распространяются на станции и между враждующими альянсами.</li>
<li>Если альянс или игрок помечены KOS вашим альянсом, они не защищены RoE. KOS может устанавливать только адмирал.</li></ul>